  .loaderWrapper__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* 90% of the viewport height */
  }

  /* Style the loaderWrapper__body__content */
  .loaderWrapper__body__content {
    display: flex;
    font-family: monospace;
    font-size: 2em;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  /* Style the loadingAnimation */
  .loadingAnimation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(10, end) infinite;
  }

  /* Keyframes animation for the loadingAnimation */
  @keyframes typing {
    0%,
    100% {
      width: 0;
    }
    100% {
      width: 30%; /* Width animation from 0% to 100% */
    }
  }