.errorWrapper {
  text-align: center;
  font-size: 1em;
  margin: 50px 0 50px 0;
}
.submitButton {
  cursor: pointer;
}
.hide {
  display: none;
}
/* Small screens (up to 767px) */
@media (max-width: 767px) {
  .submitButton {
    padding: 14px;
    font-size: 1.2em;
    background: none;
    border: solid 1px white;
    width: 60vw;
    margin: 50px 0 50px 0;
    color: white;
  }
   .submitButton__content{
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .submitButton {
    padding: 14px;
    font-size: 1.2em;
    background: none;
    border: solid 1px white;
    width: 50vw;
    margin: 30px 0 30px 0;
    color: white;
  }
   .submitButton__content{
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .submitButton {
    padding: 14px;
    font-size: 1.2em;
    background: none;
    border: solid 1px white;
    width: 30vw;
    margin: 30px 0 30px 0;
    color: white;
  }
  .submitButton__content{
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  /* CSS styles for large screens go here */
}
